# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

pwm-fan-control-backups/
gerber/

# MPLAB X code
attiny10-fan-pwm-firmware.X/.generated_files/
attiny10-fan-pwm-firmware.X/build/
attiny10-fan-pwm-firmware.X/dist/
attiny10-fan-pwm-firmware.X/nbproject/
